.SideBar {
    background: #d11018;
    box-shadow: 0 0 32px 4px #00000026;
    height: 100%;
    width: 50px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 50;

    @media screen and (max-width: 768px) {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.burger {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    @media screen and (max-width: 768px) {
        order: 2;
    }
}

.logo {
    position: absolute;
    bottom: 115px;
    left: -75px;
    transform: rotate(-90deg);

    @media screen and (max-width: 768px) {
        position: relative;
        transform: rotate(0deg);
        top: 5px;
        bottom: 0;
        left: 15px;
        order: 1;
    }
}

.displn {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0s ease;
    @media screen and (max-width: 768px) {
        transform: translateY(-100%);
    }
}

.displn1 {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0s ease;
    @media screen and (max-width: 768px) {
        transform: translateY(-100%);
    }
}

.burger__nav {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(0%);
    transition: transform 1s ease;
    background: #d11018;
    height: 100%;
    width: 430px;
    z-index: 10;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #ffffffbe;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 30px;
        background-color: #000000be;
    }

}


.burger__navServ {
    position: fixed;
    left: 430px;
    top: 0;
    transform: translateX(0%);
    transition: transform 1s ease;
    background: #33383ae6;
    opacity: 1;
    height: 100%;
    width: 430px;
    z-index: 9;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #ffffffbe;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 30px;
        background-color: #000000be;

    }
}


// Nav 
.nav {
    height: 100%;
    box-shadow: 0 0 32px 4px #00000059;
    padding: 15vh 2.5rem 20vh 6rem;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
        padding: 6rem 2rem;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffffd9;
        font-size: 19px;
        font-weight: 500;
        text-shadow: 0 0 4px #00000026;
        text-transform: uppercase;
        transition: color .2s;
        cursor: pointer;

        &:hover {
            transition: all 0.5s ease-in-out;
            color: #fff;
        }
    }

    &__list {
        margin-bottom: 15px;
    }
}

.navServ {
    height: 100%;
    box-shadow: 0 0 32px 4px #00000059;
    padding: 15vh 2.5rem 50vh 6rem;
    box-sizing: border-box;

    &__item {
        color: #ffffffd9;
        font-size: 19px;
        font-weight: 500;
        text-shadow: 0 0 4px #00000026;
        text-transform: uppercase;
        transition: color .2s;
        cursor: pointer;
        z-index: 15;

        &:hover {
            transition: all 0.5s ease-in-out;
            color: #fff;
        }
    }

    &__list {
        margin-bottom: 15px;
    }
}

.socialMedia {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 45px;

    a {

        svg {
            width: 25px;
            height: 25px;

            &:hover path {
                transition: all 0.5s ease-in-out;
                fill: #ffffff;
            }
        }
    }
}