.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.practice {
    padding-left: 50px;
    position: relative;
    width: 100%;
    @media screen and (max-width: 768px) {
        padding-left: 0px;
    }
    &__title {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 75px;
            font-weight: 400;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }
        @media screen and (max-width: 900px) {
            font-size: 100px;
            font-weight: 400;
        }
        @media screen and (max-width: 768px) {
            font-size: 80px;
            font-weight: 400;
        }
        @media screen and (max-width: 500px) {
            font-size: 50px;
            font-weight: 400;
        }
    }

    &__container {
        position: relative;
        width: 100%;
        height: 100vh;
    }
}

.Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    // background-image: url(../../assets/InvestmentBg.jpg);
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    z-index: -1;
}

.category {
    background-color: #fff;

    &__container {
        display: flex;
        padding-top: 45px;
        padding-bottom: 75px;
        gap: 40px;
    }
   
}

.backToHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #000000;
    a {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 60px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: rgb(209, 16, 24);
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
            font-size: 13px;
            padding: 15px 30px;
        }
        &:hover {
            transform: translateY(1px);
            background-color: rgb(152, 12, 18);
        }
    }
}


