.footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;

    @media screen and (max-width: 768px) {
        padding-left: 0px;
    }
}

.inform {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 64px 0;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 590px) {
        grid-template-columns: repeat(1, 1fr);
    }
    &__title {
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 500;
        color: rgb(209, 16, 24);
    }

    &__list {
        li {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 400;
            color: #000000;

            a {
                font-size: 16px;
                font-weight: 400;
                color: #000000;
                &:hover {
                    transition: all 0.3s ease-in-out;
                    color: rgb(209, 16, 24);
                }
            }
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: #e0dfdf;
}

.down {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 2rem;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    &__social {
        
        display: flex;
        align-items: center;
        gap: 22px;
        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(209, 16, 24);

            svg {
                width: 20px;
                height: 20px;
            }

            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: rgb(152, 12, 18);
            }
        }
    }

    &__conf {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        justify-content: center;
        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
        a {
            font-size: 12px;
            font-weight: 400;
            color: #000000;
            &:hover {
                transition: all 0.3s ease-in-out;
                color: rgb(152, 12, 18);
            }
        }

    }

    &__backtop {
        margin-left: auto;
        width: 105px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
        p {
            font-size: 15px;
            font-weight: 600;
            color: #000000;
        }
        svg {
            width: 24px;
            height: 24px;
            transform: rotate(-180deg);
        }
    }
}

.logo {
    font-family: 'Prompt', sans-serif;
    width: 36px;
    line-height: 16px;
    font-size: 20px;
    font-weight: 500;
    &:hover {
        transition: all 0.3s ease-in-out;
        color: rgb(209, 16, 24);
    }
}