$black: #000000;
$background: #262626;
$gray:#7A7A7A;
$blue: #52BFFF;
$red: #FE0002;
$white: #fff;
$light-blue: #D9D9D9;
$linear-gradient: linear-gradient(213.88deg, #B1E2FF -67.78%, #68C7FF 175.48%);
